{{ if .IsNamedParams }}
  {{ $.Scratch.Set "icon" (default "triangle-exclamation" (.Get "icon") ) }}
  {{ $.Scratch.Set "cardColor" (default "#532a2a" (.Get "cardColor")) }}
  {{ $.Scratch.Set "iconColor" (default "#ffffff" (.Get "iconColor")) }}
  {{ $.Scratch.Set "textColor" (default "#ffffff" (.Get "textColor")) }}
{{ else }}
  {{ $.Scratch.Set "icon" (default "triangle-exclamation" (.Get 0) ) }}
  {{ $.Scratch.Set "cardColor" "#532a2a" }}
  {{ $.Scratch.Set "iconColor" "#ffffff" }}
  {{ $.Scratch.Set "textColor" "#ffffff" }}
{{ end }}

<div
  class="hx:my-8 hx:flex hx:items-center hx:gap-4 hx:px-4 hx:py-3 hx:rounded-md"
  style="background-color: {{ $.Scratch.Get "cardColor" }}"
>
  <span
    class="hx:flex hx:items-center hx:shrink-0"
    style="color: {{ $.Scratch.Get "iconColor" }}"
  >
    {{ partial "icon.html" ($.Scratch.Get "icon") }}
  </span>

  <span style="color: {{ $.Scratch.Get "textColor" }}">
    {{- .Inner | markdownify -}}
  </span>
</div>